<h1>HTML Editor</h1>
<form>
    <div class="form-group">
        <label for="widgetname">Name</label>
        <input ng-model="model.widget.name" id="widgetname" type="text"
               class="form-control"
               placeholder="Widget Name"/>
    </div>
    <div class="form-group">
        <label for="widgettext">Text</label>
        <input ng-model="model.widget.text" id="widgettext" type="text"
               class="form-control"
               placeholder="Widget Text"/>
    </div>

</form>
